
@{
    ViewBag.Title = "BBPS_Services";
    Layout = "~/Views/Home_LayoutPage1.cshtml";
}


<!--Why Choose One Start-->
<section class="why-choose-one">
    <div class="why-choose-one__bg-shape" style="background-image: url('@Url.Content("~/assets/images/images_bbps/why-choose-one-shape-bg-shape.png")');"></div>

    @*D:\lcrPay\new_lcr_pay\lcr_pay\lcr_pay\lcr_pay\assets\images\~/assets/images/images_bbps*@
    <div class="why-choose-one__shape-2 float-bob-x">
        <img src="@Url.Content("~/assets/images/images_bbps/why-choose-one-shape-2.png")" alt="Why Choose Image">

    </div>
    <div class="why-choose-one__big-title">
        <h3>100% SECURE SERVICES </h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="why-choose-one__left">
                    <div class="section-title text-left sec-title-animation animation-style2">
                        <div class="section-title__tagline-box">
                            <div class="section-title__tagline-shape-box">
                                <div class="section-title__tagline-shape"></div>
                                <div class="section-title__tagline-shape-2"></div>
                            </div>
                            <span class="section-title__tagline">Become a Services Partner</span>
                        </div>
                        <h2 class="section-title__title title-animation">
                            Looking for BBPS Services?
                            
                            <span>Your One-Stop Bill Payment Solution is here.</span><br><span>
                               
                            </span>
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="why-choose-one__img-box-1">
                                <div class="why-choose-one__img-1">
                                    <img src="~/assets/images/images_bbps/API1.png" alt="">
                                </div>
                                <div class="why-choose-one__shape-1 rotate-me">
                                    <img src="~/assets/images/images_bbps/why-choose-one-shape-1.png" alt="">
                                </div>
                                <div class="why-choose-one__round-text-box">
                                    <div class="why-choose-one__round-text-box-inner">
                                        <div class="why-choose-one__curved-circle">
                                            Easy Code * Json * Secured *
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="why-choose-one__img-box-2">
                                <div class="why-choose-one__curved-circle-2">
                                    200+ Services * Smooth * Integration *
                                </div>
                                <div class="why-choose-one__img-2">
                                    <img src="~/assets/images/images_bbps/API2.png" alt="">
                                </div>
                                <div class="why-choose-one__video-link">
                                    <a href="javascript:void(0)">
                                        <div class="why-choose-one__video-icon">
                                            <img src="~/assets/images/resources/LCRPAY_LOGO-qjZI7a_N.png" alt="" style=" width: 85px; ">
                                            <i class="ripple"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="why-choose-one__right">
                    <div class="why-choose-one__client-box">
                        <div class="why-choose-one__client-content">
                            <div class="why-choose-one__client-inner">
                                <h3 class="why-choose-one__client-title">BBPS<span></span></h3>
                                <ul class="why-choose-one__client-img-list list-unstyled">
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="~/assets/images/images_bbps/airtel.png" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="~/assets/images/images_bbps/jio.png" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="~/assets/images/images_bbps/d2h.png" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="~/assets/images/images_bbps/vi.png" alt="">
                                        </div>
                                    </li>
                                    @*<li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="~/assets/images/images_bbps/phonepe.png" alt="">
                                        </div>
                                    </li>*@
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="~/assets/images/images_bbps/zee5.jpeg" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="~/assets/images/images_bbps/amazonprime.png" alt="">
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="why-choose-one__ratting-and-text">
                                <div class="why-choose-one__ratting-box">
                                    <div class="why-choose-one__ratting">
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                    </div>
                                    <p class="why-choose-one__ratting-text">4.5 Rating</p>
                                </div>
                                <div class="why-choose-one__count-box-inner">
                                    <div class="why-choose-one__count-box">
                                        <p class="odometer" data-count="5000">00</p>

                                        <span>+</span>
                                    </div>
                                    <p class="why-choose-one__count-text">BBPS Billers</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="why-choose-one__right-bottom">
                        <ul class="row list-unstyled">
                            <!--Why Choose One Single Start-->
                            <li class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                                <div class="why-choose-one__single">
                                    <div class="why-choose-one__icon">
                                        <span class="icon-completed-task"></span>
                                        <div class="why-choose-one__count"></div>
                                    </div>
                                    <h3 class="why-choose-one__title">
                                        <a href="javascript:void(0)">Instant Onboarding</a>
                                    </h3>
                                    <p class="why-choose-one__text">
                                        Launch your BBPS services swiftly with LCRPAY’s streamlined onboarding process.
                                        Our ready-to-use BBPS Services ensures businesses can start accepting bill payments in no time.
                                    </p>
                                </div>
                            </li>
                            <!--Why Choose One Single End-->
                            <!--Why Choose One Single Start-->
                            <li class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                                <div class="why-choose-one__single">
                                    <div class="why-choose-one__icon">
                                        <span class="icon-target"></span>
                                        <div class="why-choose-one__count"></div>
                                    </div>
                                    <h3 class="why-choose-one__title">
                                        <a href="javascript:void(0)">Seamless Services Integration</a>
                                    </h3>
                                    <p class="why-choose-one__text">
                                        Integrate BBPS effortlessly with LCRPAY’s developer-friendly Services, compatible with all major platforms and languages for your website or mobile app.
                                    </p>
                                </div>
                            </li>
                            <!--Why Choose One Single End-->
                            <!--Why Choose One Single Start-->
                            <li class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                                <div class="why-choose-one__single">
                                    <div class="why-choose-one__icon">
                                        <span class="icon-review"></span>
                                        <div class="why-choose-one__count"></div>
                                    </div>
                                    <h3 class="why-choose-one__title">
                                        <a href="javascript:void(0)">
                                            High Transaction Success
                                        </a>
                                    </h3>
                                    <p class="why-choose-one__text">Provide a smooth bill payment experience with LCRPAY’s BBPS Services, optimized for high success rates and reliable transactions.</p>
                                </div>
                            </li>
                            <!--Why Choose One Single End-->
                            <!--Why Choose One Single Start-->
                            <li class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                                <div class="why-choose-one__single">
                                    <div class="why-choose-one__icon">
                                        <span class="icon-time"></span>
                                        <div class="why-choose-one__count"></div>
                                    </div>
                                    <h3 class="why-choose-one__title">
                                        <a href="javascript:void(0)">Round-the-Clock Support</a>
                                    </h3>
                                    <p class="why-choose-one__text">Access LCRPAY’s 24/7 technical and customer support via email, phone, or WhatsApp for uninterrupted BBPS operations.</p>
                                </div>
                            </li>
                            <!--Why Choose One Single End-->
                        </ul>
                        <div class="why-choose-one__contact-box">
                            <div class="why-choose-one__contact-icon">
                                <span class="icon-support"></span>
                            </div>
                            <div class="why-choose-one__content">
                                <p>Need Help Drop Email</p>
                                <h5>
                                    care@lcrpay.com
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Why Choose One End-->
<!--Why Choose Three Start -->
<section class="why-choose-three" style="padding: 25px 0 30px;">



    <div class="why-choose-three__shape-bg-1 " style="background-image: url(~/assets/images/images_bbps/why-choose-three-shape-bg-1.png);"></div>
    <div class="why-choose-three__shape-1">
        <img src="~/assets/images/images_bbps/why-choose-three-shape-1.png" alt="">
    </div>
    <div class="why-choose-three__shape-2">
        <img src="~/assets/images/images_bbps/why-choose-three-shape-2.png" alt="">
    </div>
    <div class="container">
        <div class="section-title text-center sec-title-animation animation-style1">
            <div class="section-title__tagline-box">
                <div class="section-title__tagline-shape-box">
                    <div class="section-title__tagline-shape"></div>
                    <div class="section-title__tagline-shape-2"></div>
                </div>
                <span class="section-title__tagline">BBPS Services Benefits</span>
            </div>
            <h2 class="section-title__title title-animation">
                <br><span>
                    Key Advantages of BBPS Integration
                </span>
            </h2>
        </div>
        <div class="why-choose-three__inner">
            <ul class="row list-unstyled">
                <!--Why Choose Three Single Start-->
                <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="why-choose-three__single">
                        <div class="why-choose-three__icon">
                            <span class="icon-completed-task"></span>
                            <div class="why-choose-three__count"></div>
                        </div>
                        <h3 class="why-choose-three__title">
                            <a href="#">
                                Unified Bill Payment Platform
                            </a>
                        </h3>
                        <p class="why-choose-three__text">LCRPAY’s BBPS Services consolidates all utility bill payments into a single platform, simplifying transactions for electricity, water, gas, and more, enhancing user convenience.</p>
                    </div>
                </li>
                <!--Why Choose Three Single End-->
                <!--Why Choose Three Single Start-->
                <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="why-choose-three__single">
                        <div class="why-choose-three__icon">
                            <span class="icon-money-bag"></span>
                            <div class="why-choose-three__count"></div>
                        </div>
                        <h3 class="why-choose-three__title">
                            <a href="#">Instant Payment Confirmation </a>
                        </h3>
                        <p class="why-choose-three__text">
                            BBPS provides real-time updates for billers and payers, ensuring instant confirmation of payments and transparency in transaction history.
                        </p>
                    </div>
                </li>
                <!--Why Choose Three Single End-->
                <!--Why Choose Three Single Start-->
                <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="why-choose-three__single">
                        <div class="why-choose-three__icon">
                            <span class="icon-experience"></span>
                            <div class="why-choose-three__count"></div>
                        </div>
                        <h3 class="why-choose-three__title">
                            <a href="#">Cost-Efficient Operations </a>
                        </h3>
                        <p class="why-choose-three__text">
                            Eliminate the need for physical billing infrastructure with LCRPAY’s BBPS Services, reducing setup and maintenance costs for billers.
                        </p>
                    </div>
                </li>
                <!--Why Choose Three Single End-->
                <!--Why Choose Three Single Start-->
                <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="why-choose-three__single">
                        <div class="why-choose-three__icon">
                            <span class="icon-time"></span>
                            <div class="why-choose-three__count"></div>
                        </div>
                        <h3 class="why-choose-three__title">
                            <a href="#">
                                Automated Billing Cycles
                            </a>
                        </h3>
                        <p class="why-choose-three__text">
                            Enable users to automate recurring bill payments with LCRPAY’s BBPS Services, saving time and ensuring timely transactions every cycle.
                        </p>
                    </div>
                </li>
                <!--Why Choose Three Single End-->
            </ul>
        </div>




    </div>


</section>
<!--Why Choose Three End -->
<!-- Sliding Text Two Start -->
<section class="sliding-text-one">
    <div class="sliding-text-one__wrap">
        <ul class="sliding-text__list list-unstyled marquee_mode">
            <li>
                <h2 data-hover="Mobile Recharge" class="sliding-text__title">
                    Mobile Recharge
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Mobile Recharge">
                </h2>
            </li>
            <li>
                <h2 data-hover="Electricity Bill" class="sliding-text__title">
                    Electricity Bill
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Electricity Bill">
                </h2>
            </li>
            <li>
                <h2 data-hover="Credit Card Bill" class="sliding-text__title">
                    Credit Card Bill
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Credit Card Bill">
                </h2>
            </li>
            <li>
                <h2 data-hover="LPG Cylinder" class="sliding-text__title">
                    LPG Cylinder
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="LPG Cylinder">
                </h2>
            </li>
            <li>
                <h2 data-hover="Fastag Recharge" class="sliding-text__title">
                    Fastag Recharge
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Fastag Recharge">
                </h2>
            </li>
            <li>
                <h2 data-hover="EMI Payments" class="sliding-text__title">
                    EMI Payments
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="EMI Payments">
                </h2>
            </li>
            <li>
                <h2 data-hover="Broadband Bill" class="sliding-text__title">
                    Broadband Bill
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Broadband Bill">
                </h2>
            </li>

            <li>
                <h2 data-hover="Postpaid Bill" class="sliding-text__title">
                    Postpaid Bill
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Postpaid Bill">
                </h2>
            </li>

            <li>
                <h2 data-hover="LIC/Insurance" class="sliding-text__title">
                    LIC/Insurance
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="LIC/Insurance">
                </h2>
            </li>
            <li>
                <h2 data-hover="Municipal Taxes" class="sliding-text__title">
                    Municipal Taxes
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Municipal Taxes">
                </h2>
            </li>
            <li>
                <h2 data-hover="Subscriptions" class="sliding-text__title">
                    Subscriptions
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Subscriptions">
                </h2>
            </li>
            <li>
                <h2 data-hover="Clubs & Associations" class="sliding-text__title">
                    Clubs & Associations
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="BBPS Services">
                </h2>
            </li>
        </ul>
    </div>
</section>
    <!-- Sliding Text Two End -->


<div class="container mb-4">

    <h5>Bharat Bill Payment System Services</h5>
    <p>Simplify bill payments with LCRPAY’s easy-to-integrate BBPS Services. Empower your platform to handle all utility bills seamlessly.</p>
    <p>LCRPAY is a leading provider of scalable Bharat Bill Payment System (BBPS) Services in India. Launch your utility bill payment business and maximize revenue with our robust solution.</p>

    <h5>Benefits of LCRPAY’s BBPS Services</h5>
    <ul>
        <li>Developer-friendly integration for quick setup.</li>
        <li>Trusted and secure Services platform for reliable transactions.</li>
        <li>Capitalize on the growing utility payment market for high returns.</li>
    </ul>

    <h5>Supported BBPS Categories</h5>
    <ul>
        <li>Electricity Bill</li>
        <li>Water Bill</li>
        <li>Gas Bill</li>
        <li>Broadband Bill</li>
        <li>Insurance Premium</li>
        <li>Landline Bill</li>
    </ul>

    <p>LCRPAY’s BBPS Services is an excellent opportunity for website owners, SMEs, and organizations to generate additional revenue. Offering BBPS services can enhance customer engagement and attract more users to your platform.</p>
    <p>Our Services provides automated bill payment solutions, enabling instant processing of utility bills. LCRPAY’s BBPS Services supports payments for various operators, with denominations ranging from ₹10 to ₹5000, processed directly from your wallet.</p>
    <p>Monitor your transactions easily with real-time access to your wallet balance, commission earned, payment history, and transaction status through our intuitive interface.</p>
</div>



<!-- Sliding Text One Start -->
<section class="sliding-text-one">
    <div class="sliding-text-one__wrap">
        <ul class="sliding-text-two__list list-unstyled marquee_mode">
            <li>
                <h2 data-hover="Electricity Bill" class="sliding-text-two__title">
                    Electricity Bill
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="">
                </h2>
            </li>
            <li>
                <h2 data-hover="Water Bill" class="sliding-text-two__title">
                    Water Bill
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="">
                </h2>
            </li>
            <li>
                <h2 data-hover="Broadband Bill" class="sliding-text-two__title">
                    Broadband Bill
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="">
                </h2>
            </li>
            <li>
                <h2 data-hover="Gas Bill" class="sliding-text-two__title">
                    Gas Bill
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="">
                </h2>
            </li>
            <li>
                <h2 data-hover="Insurance Premium" class="sliding-text-two__title">
                    Insurance Premium
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="">
                </h2>
            </li>
            <li>
                <h2 data-hover="Subscriptions" class="sliding-text-two__title">
                    OTT Subscriptions
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="">
                </h2>
            </li>
        </ul>
    </div>
</section>
<!-- Sliding Text One End -->
