
@{
    ViewBag.Title = "DTH_Recharge";
    Layout = "~/Views/Home_LayoutPage1.cshtml";
}


<!--Why Choose One Start-->
<section class="why-choose-one">
    <div class="why-choose-one__bg-shape" style="background-image: url('@Url.Content("~/assets/images/images_bbps/why-choose-one-shape-bg-shape.png")');"></div>
    <div class="why-choose-one__shape-2 float-bob-x">
        <img src="@Url.Content("~/assets/images/images_bbps/why-choose-one-shape-2.png")" alt="Why Choose Image">
    </div>
    <div class="why-choose-one__big-title">
        <h3>100% SECURE DTH RECHARGE</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="why-choose-one__left">
                    <div class="section-title text-left sec-title-animation animation-style2">
                        <div class="section-title__tagline-box">
                            <div class="section-title__tagline-shape-box">
                                <div class="section-title__tagline-shape"></div>
                                <div class="section-title__tagline-shape-2"></div>
                            </div>
                            <span class="section-title__tagline">Become a DTH Recharge Partner</span>
                        </div>
                        <h2 class="section-title__title title-animation">
                            Looking for DTH Recharge Services? <span>Your One-Stop Recharge Solution is Here.</span>
                        </h2>
                    </div>
                    <!-- DTH Recharge Form in Single Column -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="why-choose-one__form-box wow fadeInUp" data-wow-delay="100ms">
                                <form id="dthRechargeForm" action="@Url.Action("ProcessDTHRecharge", "Home")" method="post" class="recharge-form">
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <label for="dthOperator">DTH Operator</label>
                                        <select id="dthOperator" name="dthOperator" class="form-control" required style="height: 38px; font-size: 14px; padding: 5px 10px; line-height: 1.5;">
                                            <option value="">Select DTH Operator</option>
                                            <option value="DishTV">Dish TV</option>
                                            <option value="TataSky">Tata Sky</option>
                                            <option value="AirtelDigitalTV">Airtel Digital TV</option>
                                            <option value="SunDirect">Sun Direct</option>
                                            <option value="VideoconD2H">Videocon D2H</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="customerId">Customer ID</label>
                                        <input type="text" id="customerId" name="customerId" class="form-control" pattern="[0-9]{8,12}" placeholder="Enter 8-12 digit Customer ID" required style="height: 38px; font-size: 14px; padding: 5px 10px;">
                                    </div>
                                    <div class="form-group">
                                        <label for="amount">Amount</label>
                                        <input type="number" id="amount" name="amount" class="form-control" min="100" max="5000" placeholder="Enter amount (₹100 - ₹5000)" required style="height: 38px; font-size: 14px; padding: 5px 10px;">
                                    </div>
                                    <div class="form-group">
                                        <label for="planType">Plan Type</label>
                                        <select id="planType" name="planType" class="form-control" required style="height: 38px; font-size: 14px; padding: 5px 10px; line-height: 1.5;">
                                            <option value="">Select Plan Type</option>
                                            <option value="Monthly">Monthly</option>
                                            <option value="Quarterly">Quarterly</option>
                                            <option value="HalfYearly">Half-Yearly</option>
                                            <option value="Yearly">Yearly</option>
                                            <option value="AddOn">Add-On Pack</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="thm-btn recharge-form__btn">Recharge Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="why-choose-one__right">
                    <div class="why-choose-one__client-box">
                        <div class="why-choose-one__client-content">
                            <div class="why-choose-one__client-inner">
                                <h3 class="why-choose-one__client-title">DTH Recharge<span></span></h3>
                                <ul class="why-choose-one__client-img-list list-unstyled">
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="~/assets/images/images_bbps/d2h.png" alt="Dish TV">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="~/assets/images/dth_recharge/tata_sky_logo.png" alt="Tata Sky">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="~/assets/images/dth_recharge/airtelDigitalTv.png" alt="Airtel Digital TV">
                                        </div>
                                    </li>
                                    @*<li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="~/assets/images/dth_recharge/d2h_logo.png" alt="Airtel Digital TV">
                                        </div>
                                    </li>*@
                                </ul>
                            </div>
                            <div class="why-choose-one__ratting-and-text">
                                <div class="why-choose-one__ratting-box">
                                    <div class="why-choose-one__ratting">
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                    </div>
                                    <p class="why-choose-one__ratting-text">4.5 Rating</p>
                                </div>
                                <div class="why-choose-one__count-box-inner">
                                    <div class="why-choose-one__count-box">
                                        <p class="odometer" data-count="5000">00</p>
                                        <span>+</span>
                                    </div>
                                    <p class="why-choose-one__count-text">Recharge Partners</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="why-choose-one__right-bottom">
                        <ul class="row list-unstyled">
                            <li class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                                <div class="why-choose-one__single">
                                    <div class="why-choose-one__icon">
                                        <span class="icon-completed-task"></span>
                                        <div class="why-choose-one__count"></div>
                                    </div>
                                    <h3 class="why-choose-one__title">
                                        <a href="javascript:void(0)">Instant Onboarding</a>
                                    </h3>
                                    <p class="why-choose-one__text">
                                        Launch your DTH recharge services swiftly with LCRPAY’s streamlined onboarding process. Start offering recharges in no time.
                                    </p>
                                </div>
                            </li>
                            <li class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                                <div class="why-choose-one__single">
                                    <div class="why-choose-one__icon">
                                        <span class="icon-target"></span>
                                        <div class="why-choose-one__count"></div>
                                    </div>
                                    <h3 class="why-choose-one__title">
                                        <a href="javascript:void(0)">Seamless Integration</a>
                                    </h3>
                                    <p class="why-choose-one__text">
                                        Integrate DTH recharge services effortlessly with LCRPAY’s developer-friendly platform, compatible with web and mobile apps.
                                    </p>
                                </div>
                            </li>
                            <li class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                                <div class="why-choose-one__single">
                                    <div class="why-choose-one__icon">
                                        <span class="icon-review"></span>
                                        <div class="why-choose-one__count"></div>
                                    </div>
                                    <h3 class="why-choose-one__title">
                                        <a href="javascript:void(0)">High Transaction Success</a>
                                    </h3>
                                    <p class="why-choose-one__text">
                                        Provide a smooth DTH recharge experience with LCRPAY’s services, optimized for high success rates and reliable transactions.
                                    </p>
                                </div>
                            </li>
                            <li class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                                <div class="why-choose-one__single">
                                    <div class="why-choose-one__icon">
                                        <span class="icon-time"></span>
                                        <div class="why-choose-one__count"></div>
                                    </div>
                                    <h3 class="why-choose-one__title">
                                        <a href="javascript:void(0)">Round-the-Clock Support</a>
                                    </h3>
                                    <p class="why-choose-one__text">
                                        Access LCRPAY’s 24/7 technical and customer support via email, phone, or WhatsApp for uninterrupted DTH recharge operations.
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <div class="why-choose-one__contact-box">
                            <div class="why-choose-one__contact-icon">
                                <span class="icon-support"></span>
                            </div>
                            <div class="why-choose-one__content">
                                <p>Need Help? Drop an Email</p>
                                <h5>care@lcrpay.com</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Why Choose One End-->
<!--Why Choose Three Start -->
<section class="why-choose-three" style="padding: 25px 0 30px;">
    <div class="why-choose-three__shape-bg-1" style="background-image: url(~/assets/images/images_bbps/why-choose-three-shape-bg-1.png);"></div>
    <div class="why-choose-three__shape-1">
        <img src="~/assets/images/images_bbps/why-choose-three-shape-1.png" alt="">
    </div>
    <div class="why-choose-three__shape-2">
        <img src="~/assets/images/images_bbps/why-choose-three-shape-2.png" alt="">
    </div>
    <div class="container">
        <div class="section-title text-center sec-title-animation animation-style1">
            <div class="section-title__tagline-box">
                <div class="section-title__tagline-shape-box">
                    <div class="section-title__tagline-shape"></div>
                    <div class="section-title__tagline-shape-2"></div>
                </div>
                <span class="section-title__tagline">DTH Recharge Benefits</span>
            </div>
            <h2 class="section-title__title title-animation">
                <br><span>Key Advantages of DTH Recharge Integration</span>
            </h2>
        </div>
        <div class="why-choose-three__inner">
            <ul class="row list-unstyled">
                <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="why-choose-three__single">
                        <div class="why-choose-three__icon">
                            <span class="icon-completed-task"></span>
                            <div class="why-choose-three__count"></div>
                        </div>
                        <h3 class="why-choose-three__title">
                            <a href="#">Instant Recharge Processing</a>
                        </h3>
                        <p class="why-choose-three__text">LCRPAY’s DTH recharge services enable real-time processing for all plans, ensuring instant channel activation for users.</p>
                    </div>
                </li>
                <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="why-choose-three__single">
                        <div class="why-choose-three__icon">
                            <span class="icon-money-bag"></span>
                            <div class="why-choose-three__count"></div>
                        </div>
                        <h3 class="why-choose-three__title">
                            <a href="#">Multiple Operator Support</a>
                        </h3>
                        <p class="why-choose-three__text">Support a wide range of DTH operators for various plans, offering flexibility and convenience to your customers.</p>
                    </div>
                </li>
                <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="why-choose-three__single">
                        <div class="why-choose-three__icon">
                            <span class="icon-experience"></span>
                            <div class="why-choose-three__count"></div>
                        </div>
                        <h3 class="why-choose-three__title">
                            <a href="#">Revenue Opportunities</a>
                        </h3>
                        <p class="why-choose-three__text">Boost your business revenue by offering DTH recharge services through LCRPAY, tapping into the growing DTH market.</p>
                    </div>
                </li>
                <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="why-choose-three__single">
                        <div class="why-choose-three__icon">
                            <span class="icon-time"></span>
                            <div class="why-choose-three__count"></div>
                        </div>
                        <h3 class="why-choose-three__title">
                            <a href="#">User-Friendly Interface</a>
                        </h3>
                        <p class="why-choose-three__text">Provide a simple and intuitive recharge experience with LCRPAY’s services, enhancing customer satisfaction and retention.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--Why Choose Three End -->
<!-- Sliding Text Two Start -->
<section class="sliding-text-one">
    <div class="sliding-text-one__wrap">
        <ul class="sliding-text__list list-unstyled marquee_mode">
            <li>
                <h2 data-hover="Monthly Plans" class="sliding-text__title">
                    Monthly Plans
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Monthly Plans">
                </h2>
            </li>
            <li>
                <h2 data-hover="Quarterly Plans" class="sliding-text__title">
                    Quarterly Plans
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Quarterly Plans">
                </h2>
            </li>
            <li>
                <h2 data-hover="Yearly Plans" class="sliding-text__title">
                    Yearly Plans
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Yearly Plans">
                </h2>
            </li>
            <li>
                <h2 data-hover="Add-On Packs" class="sliding-text__title">
                    Add-On Packs
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Add-On Packs">
                </h2>
            </li>
        </ul>
    </div>
</section>
<!-- Sliding Text Two End -->

<div class="container mb-4">
    <h5>DTH Recharge Services</h5>
    <p>Empower your platform with LCRPAY’s seamless DTH recharge services, enabling instant recharges for monthly, quarterly, yearly, and add-on plans.</p>
    <p>LCRPAY is a leading provider of scalable DTH recharge solutions in India. Launch your recharge business and maximize revenue with our robust platform.</p>

    <h5>Benefits of LCRPAY’s DTH Recharge Services</h5>
    <ul>
        <li>Quick and easy integration for developers.</li>
        <li>Secure and reliable platform for seamless transactions.</li>
        <li>Capitalize on the growing DTH recharge market for high returns.</li>
    </ul>

    <h5>Supported Recharge Categories</h5>
    <ul>
        <li>Monthly Plans</li>
        <li>Quarterly Plans</li>
        <li>Half-Yearly Plans</li>
        <li>Yearly Plans</li>
        <li>Add-On Packs</li>
    </ul>

    <p>LCRPAY’s DTH recharge services offer an excellent opportunity for website owners, SMEs, and organizations to generate additional revenue. Providing recharge services can drive customer engagement and attract more users to your platform.</p>
    <p>Our platform enables instant processing of DTH recharges, supporting multiple operators with denominations ranging from ₹100 to ₹5000, processed directly from your wallet.</p>
    <p>Track your transactions effortlessly with real-time access to your wallet balance, commission earned, recharge history, and transaction status through our intuitive interface.</p>
</div>

<!-- Sliding Text One Start -->
<section class="sliding-text-one">
    <div class="sliding-text-one__wrap">
        <ul class="sliding-text__list list-unstyled marquee_mode">
            <li>
                <h2 data-hover="Monthly Plans" class="sliding-text__title">
                    Monthly Plans
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Monthly Plans">
                </h2>
            </li>
            <li>
                <h2 data-hover="Quarterly Plans" class="sliding-text__title">
                    Quarterly Plans
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Quarterly Plans">
                </h2>
            </li>
            <li>
                <h2 data-hover="Yearly Plans" class="sliding-text__title">
                    Yearly Plans
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Yearly Plans">
                </h2>
            </li>
            <li>
                <h2 data-hover="Add-On Packs" class="sliding-text__title">
                    Add-On Packs
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Add-On Packs">
                </h2>
            </li>
        </ul>
    </div>
</section>
<!-- Sliding Text One End -->

<style>
    .recharge-form {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .recharge-form .form-group {
            margin-bottom: 15px;
        }

        .recharge-form label {
            font-weight: 600;
            margin-bottom: 5px;
            display: block;
        }

        .recharge-form .form-control {
            border: 1px solid #ddd;
            border-radius: 4px;
            width: 100%;
            height: 38px !important;
            font-size: 14px !important;
            padding: 5px 10px !important;
            line-height: 1.5 !important;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        .recharge-form select.form-control {
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="%23333" d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
            background-size: 12px;
        }

    .recharge-form__btn {
        background: #6d28d9; /* Violet */
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
    }

        .recharge-form__btn:hover {
            background: #5b21b6; /* Darker violet on hover */
        }
</style>

