
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

<body>
    <div>


    <!--Start Preloader-->
    <div class="loader js-preloader">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <!--End Preloader-->

    

       
        <!-- Banner One Start -->
        <section class="banner-one">
            <div class="banner-one__shape-bg-1" style="background-image: url('assets/images/shapes/banner-one-shape-bg-1.png');"></div>


            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="banner-one__left">
                            <div class="banner-one__title-box">
                                <h2 class="banner-one__title">
                                    Shine Your Business with LCRPAY <br>
                                    @*<span class="typed-effect banner-one__title-color" id="type-1" data-strings="Rent Payment, Fastag Recharge, Scan and Pay, Credit Card Payout, Education Fees, Electricity Bill, Buy Giftcard , Buy/Sell Digital Gold, Online Recharge, Credit Card Bill Payments, Flight Booking, Bus Booking, UPI Payout"></span>*@
                                </h2>
                            </div>
                            <p class="banner-one__text">
                                India Recharges & Pays Bill on LCRPAY
                                <br> All your business Payments & Credit in one place.
                            </p>

                            <div class="benner_new">
                                <a target="_blank" href="#">
                                    <img class="home_app_image" src="assets/images/extra/play-store.png" alt="play store">
                                </a>
                                @*<a target="_blank" style="margin-left: 25px;" href="https://apps.apple.com/us/app/LCRPAY/id1551973137?platform=iphone">
                                    <img class="home_app_image" src="assets/images/extra/app-store.png" alt="app store">
                                </a>*@
                            </div>

                            <div class="banner-one__satisfied-partner">
                                <ul class="list-unstyled banner-one__satisfied-partner-list">
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="assets/images/rec_logos/airtel.png" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="assets/images/rec_logos/jio.png" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="assets/images/rec_logos/d2h.png" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="assets/images/rec_logos/vi.png" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="assets/images/rec_logos/phonepe.png" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="assets/images/rec_logos/zee5.jpeg" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="assets/images/rec_logos/amazonprime.png" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="assets/images/rec_logos/gpay.png" alt="">
                                        </div>
                                    </li>
                                </ul>
                                <div class="banner-one__satisfied-partner-content">
                                    <div class="banner-one__satisfied-partner-count-box">
                                        <p class="odometer" data-count="200">00</p>
                                        <span>+</span>
                                    </div>
                                    <p class="banner-one__satisfied-partner-text">Payment Providers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="banner-one__right">
                            <div class="banner-one__img-box">
                                <div class="banner-one__img wow slideInRight" data-wow-delay="60ms" data-wow-duration="1200ms">
                                    <img width="500px" src="~/assets/images/lcr_image/font_img.png" alt="">
                                </div>
                                <!--<div class="banner-one__google-rating">
                                    <div class="banner-one__google-rating-img">
                                        <img src="assets/images/resources/banner-one-google-rating-img.png" alt="">
                                    </div>
                                    <div class="banner-one__google-rating-box">
                                        <div class="banner-one__google-rating-star">
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                        </div>
                                        <div class="banner-one__google-rating-count count-box">
                                            <p class="count-text" data-stop="12" data-speed="3000">00</p>
                                            <span>k Ratings</span>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Banner One End -->
        <!-- Sliding Text One Start -->
        @*<section class="sliding-text-one">
            <div class="sliding-text-one__wrap">
                <ul class="sliding-text__list list-unstyled marquee_mode">
                    <li>
                        <h2 data-hover="Recharge" class="sliding-text__title">
                            Recharge
                            <img src="assets/images/shapes/sliding-text-shape-1.png" alt="">
                        </h2>
                    </li>
                    <li>
                        <h2 data-hover="Electricity Bill" class="sliding-text__title">
                            Electricity Bill
                            <img src="assets/images/shapes/sliding-text-shape-1.png" alt="">
                        </h2>
                    </li>
                    <li>
                        <h2 data-hover="Credit Card Bill" class="sliding-text__title">
                            Credit Card Bill
                            <img src="assets/images/shapes/sliding-text-shape-1.png" alt="">
                        </h2>
                    </li>
                    <li>
                        <h2 data-hover="GiftCard" class="sliding-text__title">
                            GiftCard
                            <img src="assets/images/shapes/sliding-text-shape-1.png" alt="">
                        </h2>
                    </li>
                    <li>
                        <h2 data-hover="Digital Gold" class="sliding-text__title">
                            Digital Gold
                            <img src="assets/images/shapes/sliding-text-shape-1.png" alt="">
                        </h2>
                    </li>
                    <li>
                        <h2 data-hover="Traffic Challan" class="sliding-text__title">
                            Traffic Challan
                            <img src="assets/images/shapes/sliding-text-shape-1.png" alt="">
                        </h2>
                    </li>
                    <li>
                        <h2 data-hover="Flight Booking" class="sliding-text__title">
                            Flight Booking
                            <img src="assets/images/shapes/sliding-text-shape-1.png" alt="">
                        </h2>
                    </li>

                    <li>
                        <h2 data-hover="Bus Booking" class="sliding-text__title">
                            Bus Booking
                            <img src="assets/images/shapes/sliding-text-shape-1.png" alt="">
                        </h2>
                    </li>

                    <li>
                        <h2 data-hover="Credit Card to Bank" class="sliding-text__title">
                            Credit Card to Bank
                            <img src="assets/images/shapes/sliding-text-shape-1.png" alt="">
                        </h2>
                    </li>
                </ul>
            </div>
        </section>*@
        <!-- Sliding Text One End -->
        <!-- About One Start -->
        <section class="about-one">
            <div class="about-one__bg-color"></div>
            <div class="about-one__shape-1"></div>
            <div class="about-one__shape-2"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="about-one__left wow slideInLeft" data-wow-delay="60ms" data-wow-duration="1000ms">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4">
                                    <div class="about-one__left-img-box">
                                        <div class="about-one__left-img-1">
                                            <img src="~/assets/images/lcr_image/2.png" alt="">
                                            

                                        </div>
                                        <div class="about-one__left-img-2">
                                            <img src="~/assets/images/lcr_image/3.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-8">
                                    <div class="about-one__left-img-box-2">
                                        <div class="about-one__left-img-3">

                                            <img src="~/assets/images/lcr_image/1.png" alt="">


                                            @*<div class="about-one__video-link">
            <a href="#" class="video-popup">
                <div class="about-one__video-icon">
                    <span class="icon-play"></span>
                    <i class="ripple"></i>
                </div>
            </a>
        </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2 class="about-one__left-big-title wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">LCRPAY</h2>
                    </div>
                    <div class="col-xl-6">
                        <div class="about-one__right wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="section-title text-left sec-title-animation animation-style2">
                                <div class="section-title__tagline-box">
                                    <div class="section-title__tagline-shape-box">
                                        <div class="section-title__tagline-shape"></div>
                                        <div class="section-title__tagline-shape-2"></div>
                                    </div>
                                    <span class="section-title__tagline">Quick features</span>
                                </div>
                                <h2 class="section-title__title title-animation">One destination for Credit Card Payments <span>& Rent Payments with very lowest charge</span></h2>
                            </div>
                            <p class="about-one__text">Manage and pay your credit card bills with ease using LCRPAY, Pay your house or flat rent online instantly. Pay your education fees seamlessly and securely.</p>
                            <div class="about-one__client-box">
                                <div class="about-one__client-img-box">
                                    <div class="about-one__client-img">
                                        <img src="~/assets/images/resources/LCRPAY_LOGO-qjZI7a_N.png" alt="">
                                    </div>
                                </div>
                                <div class="about-one__client-content">
                                    <h5 class="about-one__title">Simple, fast & secure transactions with LCRPAY</h5>
                                    <p class="about-one__client-text">Make faster, low-value transactions with ease.</p>
                                    
                                    <p class="about-one__client-text-2">
                                        Let’s continue & check the addon points - Thank
                                        you.
                                    </p>
                                </div>
                            </div>
                            <div class="about-one__points-box">
                                <ul class="about-one__points-list list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-star-1"></span>
                                        </div>
                                        <p>One-Stop Digital Banking Services</p>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-star-1"></span>
                                        </div>
                                        <p>Pay Your Education Fees seamlessly</p>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-star-1"></span>
                                        </div>
                                        <p>Enjoy a user-friendly platform</p>
                                    </li>
                                </ul>
                                <ul class="about-one__points-list list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-star-1"></span>
                                        </div>
                                        <p>Pay from Debit  or Credit Card</p>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-star-1"></span>
                                        </div>
                                        <p>Super Fast Mobile Recharge </p>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-star-1"></span>
                                        </div>
                                        <p>Multiple Payment Methods Offer</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="about-one__mission-box">
                                <div class="why-choose-one__client-img">
                                    <img src="~/assets/images/lcr_image/Infibeam-Avenues-receives.png" style="max-width: 500px; height: auto;" alt="Infibeam Avenues">
                                </div>
                                <div class="content">
                                    <h3>LCRPAY Powered By Infibeam Avenues</h3>
                                    <p>Instantly settle your bills and get<br> cashback & rewards</p>

                                </div>

                                <div class="icon">
                                    <span class="icon-target"></span>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About One End -->
        <!-- Services One Start -->
        <section class="services-one">
            <div class="services-one__shape-bg" style="background-image: url(assets/images/shapes/services-one-shape-bg.png);"></div>
            <div class="services-one__shape-1"></div>
            <div class="services-one__shape-2"></div>
            <div class="services-one__shape-3 float-bob-x">
                <img src="assets/images/shapes/services-one-shape-3.png" alt="">
            </div>
            <div class="services-one__shape-4 float-bob-y">
                <img src="assets/images/shapes/services-one-shape-4.png" alt="">
            </div>
            <div class="container">
                <div class="services-one__top">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="services-one__top-left">
                                <div class="section-title text-left sec-title-animation animation-style2">
                                    <div class="section-title__tagline-box">
                                        <div class="section-title__tagline-shape-box">
                                            <div class="section-title__tagline-shape"></div>
                                            <div class="section-title__tagline-shape-2"></div>
                                        </div>
                                        <span class="section-title__tagline">Services</span>
                                    </div>
                                    <h2 class="section-title__title title-animation">
                                        Make Instant Transfer From
                                        <span>Credit Card to Bank Account!</span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="services-one__top-right">
                                <p class="services-one__top-text">
                                    Simplify your Business Payments with LCRPAY <br>
                                    Unlock instant cash flow for vendors with your credit card.

                                    <br>Transfer payment effortlessly from your credit card
                                    to <br>the vendor's bank account in seconds!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-one__bottom">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="services-one__left wow slideInLeft" data-wow-delay="100ms" data-wow-duration="1200ms">
                                <div class="services-one__img-box">
                                    <div class="services-one__img-shape-1"></div>
                                    <div class="services-one__img">
                                        <img src="~/assets/images/lcr_image/1.1.png" alt="">
                                    </div>
                                    <div class="services-one__img-2">
                                        <img height="470" src="" alt="">
                                    </div>
                                    <div class="services-one__experience-box">
                                        <div class="services-one__experience-icon">
                                            <span class="icon-trophy"></span>
                                        </div>
                                        <div class="services-one__experience-content">
                                            <p>
                                                <span class="odometer" data-count="50">00</span> <span>+ Offer</span>
                                                <br> Rewards & CashBack
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <div class="services-one__right">
                                <ul class="services-one__services-list list-unstyled">
                                    <li>
                                        <div class="services-one__services-single">
                                            <div class="services-one__count-and-content">
                                                <div class="services-one__count"></div>
                                                <div class="services-one__content">
                                                    <h3 class="services-one__title">
                                                        <a href="javascript:void(0)">Education Fees Payment</a>
                                                    </h3>
                                                    <p class="services-one__text">Online Fee Payment - Pay School, College <br>Institution Fees & Tution Fees on LCRPAY</p>
                                                </div>
                                            </div>
                                            <div class="services-one__arrow">
                                                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.LCRPAY"><span class="icon-diagonal-arrow"></span></a>
                                            </div>
                                        </div>
                                        <div class="services-one__hover-img">
                                            <img src="../ff3LDoxUcjx4.com/website/bSgmiNnAC8NN.com/2ndpart/sTh99WuGK0HN.png" alt="LCRPAY Education Fees Payment">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="services-one__services-single">
                                            <div class="services-one__count-and-content">
                                                <div class="services-one__count"></div>
                                                <div class="services-one__content">
                                                    <h3 class="services-one__title"><a href="javascript:void(0)">Vendor Payments</a></h3>
                                                    <p class="services-one__text">
                                                        Inviting with our expert commercial
                                                        cleaning <br>solutions tailored to offices, retail spaces
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="services-one__arrow">
                                                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.LCRPAY"><span class="icon-diagonal-arrow"></span></a>
                                            </div>
                                        </div>
                                        <div class="services-one__hover-img">
                                            <img src="../ff3LDoxUcjx4.com/website/bSgmiNnAC8NN.com/2ndpart/JHOZAiSfzCA6.png" alt="vendor's payment On LCRPAY">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="services-one__services-single">
                                            <div class="services-one__count-and-content">
                                                <div class="services-one__count"></div>
                                                <div class="services-one__content">
                                                    <h3 class="services-one__title"><a href="javascript:void(0)">Hassle-Free Rent Payment</a></h3>
                                                    <p class="services-one__text">
                                                        Lower Charges &
                                                        Smooth Payment <br>Pay your House, Shop, Broker & Society Rent
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="services-one__arrow">
                                                <a href="javascript:void(0)"><span class="icon-diagonal-arrow"></span></a>
                                            </div>
                                        </div>
                                        <div class="services-one__hover-img">
                                            <img src="../ff3LDoxUcjx4.com/website/bSgmiNnAC8NN.com/2ndpart/ddM8w2oakvNK.png" alt="Rent Pay LCRPAY">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="services-one__services-single">
                                            <div class="services-one__count-and-content">
                                                <div class="services-one__count"></div>
                                                <div class="services-one__content">
                                                    <h3 class="services-one__title"><a href="javascript:void(0)">Credit Card Bill</a></h3>
                                                    <p class="services-one__text">Pay Credit Card bills through the LCRPAY<br> Mobile Banking App By Credit & Debit Card</p>
                                                </div>
                                            </div>
                                            <div class="services-one__arrow">
                                                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.LCRPAY"><span class="icon-diagonal-arrow"></span></a>
                                            </div>
                                        </div>
                                        <div class="services-one__hover-img">
                                            <img src="../ff3LDoxUcjx4.com/website/bSgmiNnAC8NN.com/2ndpart/S530pdE0miPw.png" alt="Image">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="services-one__services-single">
                                            <div class="services-one__count-and-content">
                                                <div class="services-one__count"></div>
                                                <div class="services-one__content">
                                                    <h3 class="services-one__title"><a href="javascript:void(0)">Brand Vouchers/GiftCard</a></h3>
                                                    <p class="services-one__text">Gift Cards - Buy/Send Gift Vouchers <br>sof 250+ brands only on LCRPAY</p>
                                                </div>
                                            </div>
                                            <div class="services-one__arrow">
                                                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.LCRPAY"><span class="icon-diagonal-arrow"></span></a>
                                            </div>
                                        </div>
                                        <div class="services-one__hover-img">
                                            <img src="../ff3LDoxUcjx4.com/website/bSgmiNnAC8NN.com/2ndpart/H7Gkj9luPimP.png" alt="LCRPAY gift card">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services One End -->
        <!--
        <section class="sliding-text-two">
            <div class="sliding-text-one__wrap">
                <ul class="sliding-text-two__list list-unstyled marquee_mode">
                    <li>
                        <h2 data-hover="Organizing" class="sliding-text-two__title">Organizing
                            <img src="assets/images/shapes/sliding-text-shape-1.png" alt=""></h2>
                    </li>
                    <li>
                        <h2 data-hover="Sanitizing" class="sliding-text-two__title">Sanitizing
                            <img src="assets/images/shapes/sliding-text-shape-1.png" alt=""></h2>
                    </li>
                    <li>
                        <h2 data-hover="Mopping" class="sliding-text-two__title">Mopping
                            <img src="assets/images/shapes/sliding-text-shape-1.png" alt=""></h2>
                    </li>
                    <li>
                        <h2 data-hover="Dusting" class="sliding-text-two__title">Dusting
                            <img src="assets/images/shapes/sliding-text-shape-1.png" alt=""></h2>
                    </li>
                    <li>
                        <h2 data-hover="Vacuuming" class="sliding-text-two__title">Vacuuming
                            <img src="assets/images/shapes/sliding-text-shape-1.png" alt=""></h2>
                    </li>
                    <li>
                        <h2 data-hover="Polishing" class="sliding-text-two__title">Polishing
                            <img src="assets/images/shapes/sliding-text-shape-1.png" alt=""></h2>
                    </li>
                </ul>
            </div>
        </section>
         -->
        <!--Why Choose One Start-->
        <section class="why-choose-one">
            <div class="why-choose-one__bg-shape" style="background-image: url(assets/images/shapes/why-choose-one-shape-bg-shape.png);"></div>
            <div class="why-choose-one__shape-2 float-bob-x">
                <img src="assets/images/shapes/why-choose-one-shape-2.png" alt="">
            </div>
            <div class="why-choose-one__big-title">
                <h3>100% SECURE API </h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="why-choose-one__left">
                            <div class="section-title text-left sec-title-animation animation-style2">
                                <div class="section-title__tagline-box">
                                    <div class="section-title__tagline-shape-box">
                                        <div class="section-title__tagline-shape"></div>
                                        <div class="section-title__tagline-shape-2"></div>
                                    </div>
                                    <span class="section-title__tagline">Become an API partner</span>
                                </div>
                                <h2 class="section-title__title title-animation">
                                    Looking for API services in India? <span>API Suite</span><br><span>
                                        Made for Developers
                                    </span>
                                </h2>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="why-choose-one__img-box-1">
                                        <div class="why-choose-one__img-1">
                                            <img src="../ff3LDoxUcjx4.com/website/bSgmiNnAC8NN.com/first_part/ZJB9hZ8wmARe.png" alt="">
                                        </div>
                                        <div class="why-choose-one__shape-1 rotate-me">
                                            <img src="assets/images/shapes/why-choose-one-shape-1.png" alt="">
                                        </div>
                                        <div class="why-choose-one__round-text-box">
                                            <div class="why-choose-one__round-text-box-inner">
                                                <div class="why-choose-one__curved-circle">
                                                    Easy Code * Json * Secured *
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="why-choose-one__img-box-2">
                                        <div class="why-choose-one__curved-circle-2">
                                            200+ API * Smooth * Integration *
                                        </div>
                                        <div class="why-choose-one__img-2">
                                            <img src="../ff3LDoxUcjx4.com/website/bSgmiNnAC8NN.com/first_part/bryX9Rn2Pyvd.png" alt="">
                                        </div>
                                        <div class="why-choose-one__video-link">
                                            <a href="javascript:void(0)">
                                                <div class="why-choose-one__video-icon">
                                                    <img src="~/assets/images/resources/LCRPAY_LOGO-qjZI7a_N.png" alt="" style=" width: 85px; /">
                                                    <i class="ripple"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="why-choose-one__right">
                            <div class="why-choose-one__client-box">
                                <div class="why-choose-one__client-content">
                                    <div class="why-choose-one__client-inner">
                                        <h3 class="why-choose-one__client-title">LCR<span>Pa</span>y</h3>
                                        <ul class="why-choose-one__client-img-list list-unstyled">
                                            <li>
                                                <div class="banner-one__satisfied-partner-img">
                                                    <img src="assets/images/rec_logos/airtel.png" alt="">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="banner-one__satisfied-partner-img">
                                                    <img src="assets/images/rec_logos/jio.png" alt="">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="banner-one__satisfied-partner-img">
                                                    <img src="assets/images/rec_logos/d2h.png" alt="">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="banner-one__satisfied-partner-img">
                                                    <img src="assets/images/rec_logos/vi.png" alt="">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="banner-one__satisfied-partner-img">
                                                    <img src="assets/images/rec_logos/phonepe.png" alt="">
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="why-choose-one__ratting-and-text">
                                        <div class="why-choose-one__ratting-box">
                                            <div class="why-choose-one__ratting">
                                                <span class="icon-star"></span>
                                                <span class="icon-star"></span>
                                                <span class="icon-star"></span>
                                            </div>
                                            <p class="why-choose-one__ratting-text">4.5 Rating</p>
                                        </div>
                                        <div class="why-choose-one__count-box-inner">
                                            <div class="why-choose-one__count-box">
                                                <p class="odometer" data-count="50">00</p>

                                                <span>+</span>
                                            </div>
                                            <p class="why-choose-one__count-text">Satisfied Services</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="why-choose-one__right-bottom">
                                <ul class="row list-unstyled">
                                    <!--Why Choose One Single Start-->
                                    <li class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                                        <div class="why-choose-one__single">
                                            <div class="why-choose-one__icon">
                                                <span class="icon-completed-task"></span>
                                                <div class="why-choose-one__count"></div>
                                            </div>
                                            <h3 class="why-choose-one__title">
                                                <a href="javascript:void(0)">Quick Onboarding</a>
                                            </h3>
                                            <p class="why-choose-one__text">
                                                Go live quickly and grow with advanced features. Ready-to-use API
                                                & A hassle-free onboarding process allows businesses to get started quickly.
                                            </p>
                                        </div>
                                    </li>
                                    <!--Why Choose One Single End-->
                                    <!--Why Choose One Single Start-->
                                    <li class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                                        <div class="why-choose-one__single">
                                            <div class="why-choose-one__icon">
                                                <span class="icon-target"></span>
                                                <div class="why-choose-one__count"></div>
                                            </div>
                                            <h3 class="why-choose-one__title">
                                                <a href="javascript:void(0)">Developer-friendly integrations</a>
                                            </h3>
                                            <p class="why-choose-one__text">Experience with the simplest and easiest integrations for your website and mobile app. A wide range RESTful APIs support for all major platform languages.</p>
                                        </div>
                                    </li>
                                    <!--Why Choose One Single End-->
                                    <!--Why Choose One Single Start-->
                                    <li class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                                        <div class="why-choose-one__single">
                                            <div class="why-choose-one__icon">
                                                <span class="icon-review"></span>
                                                <div class="why-choose-one__count"></div>
                                            </div>
                                            <h3 class="why-choose-one__title">
                                                <a href="javascript:void(0)">
                                                    Higher success rates
                                                </a>
                                            </h3>
                                            <p class="why-choose-one__text">Offer seamless checkout experience & higher success rates to your customers with LCRPAY's integrated API.</p>
                                        </div>
                                    </li>
                                    <!--Why Choose One Single End-->
                                    <!--Why Choose One Single Start-->
                                    <li class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                                        <div class="why-choose-one__single">
                                            <div class="why-choose-one__icon">
                                                <span class="icon-time"></span>
                                                <div class="why-choose-one__count"></div>
                                            </div>
                                            <h3 class="why-choose-one__title">
                                                <a href="javascript:void(0)">24/7 technical support</a>
                                            </h3>
                                            <p class="why-choose-one__text">We offer technical/ customer support through multiple channels like email, phone call, WhatsApp</p>
                                        </div>
                                    </li>
                                    <!--Why Choose One Single End-->
                                </ul>
                                <div class="why-choose-one__contact-box">
                                    <div class="why-choose-one__contact-icon">
                                        <span class="icon-support"></span>
                                    </div>
                                    <div class="why-choose-one__content">
                                        <p>Need Help Drop Email</p>
                                        <h5>
                                            Email Address:

                                            care@lcrpay.com
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Why Choose One End-->
        <!-- Brand One Start -->
        @*<section class="brand-one">

            <div class="brand-one__wrap">
                <ul class="brand-one__list list-unstyled marquee_mode-4">
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-1.png" alt="">
                    </li>
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-2.png" alt="">
                    </li>
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-3.png" alt="">
                    </li>
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-4.png" alt="">
                    </li>
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-5.png" alt="">
                    </li>
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-6.png" alt="">
                    </li>
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-7.png" alt="">
                    </li>
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-8.png" alt="">
                    </li>
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-9.png" alt="">
                    </li>
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-10.png" alt="">
                    </li>
                </ul>
                <ul class="brand-one__list brand-one__list-two list-unstyled marquee_mode-5">
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-1.png" alt="">
                    </li>
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-2.png" alt="">
                    </li>
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-3.png" alt="">
                    </li>
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-4.png" alt="">
                    </li>
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-5.png" alt="">
                    </li>
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-6.png" alt="">
                    </li>
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-7.png" alt="">
                    </li>
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-8.png" alt="">
                    </li>
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-9.png" alt="">
                    </li>
                    <li>
                        <img height="28" width="156" src="assets/images/brand/brand-1-10.png" alt="">
                    </li>
                </ul>
            </div>
        </section>*@
        <!-- Brand One End -->
        

    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="~/assets/images/resources/LCRPAY_LOGO-qjZI7a_N.png" width="150" alt=""></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:care@lcrpay.com"> care@lcrpay.com</a>
                </li>
                <li>
                    <i class="fas fa-phone"></i>
                    <a href="tel:01169311284">01169311284</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a target="_blank" href="https://www.linkedin.com/in/P7WlviqrzHej.com-9a3485314/" class="fab fa-linkedin"></a>
                    <a target="_blank" href="https://www.facebook.com/LCRPAYfacebook" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a target="_blank" href="https://www.instagram.com/LCRPAY2025/" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->
    <!--
       <div class="search-popup">
           <div class="color-layer"></div>
           <button class="close-search"><span class="far fa-times fa-fw"></span></button>
           <form method="post" action="blog.html">
               <div class="form-group">
                   <input type="search" name="search-field" value="" placeholder="Search Here" required="">
                   <button type="submit"><i class="fas fa-search"></i></button>
               </div>
           </form>
       </div>
    -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
        <span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
        <span class="scroll-to-top__text"> Go Back Top</span>
    </a>


    <script src="assets/js/jquery-latest.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jarallax.min.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="assets/js/jquery.appear.min.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/odometer.min.js"></script>
    <script src="assets/js/wNumb.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/twentytwenty.js"></script>
    <script src="assets/js/jquery.event.move.js"></script>
    <script src="assets/js/marquee.min.js"></script>
    <script src="assets/js/jquery.circleType.js"></script>
    <script src="assets/js/jquery.fittext.js"></script>
    <script src="assets/js/jquery.lettering.min.js"></script>
    <script src="assets/js/typed-2.0.11.js"></script>
    <script src="assets/js/jquery-sidebar-content.js"></script>
    <script src="assets/js/countdown.min.js"></script>
    <script src="assets/js/aos.js"></script>




    <script src="assets/js/gsap/gsap.js"></script>
    <script src="assets/js/gsap/ScrollTrigger.js"></script>
    <script src="assets/js/gsap/SplitText.js"></script>




    <!-- template js -->
    <script src="assets/js/script.js"></script>


</body>
</html>

