
@{
    ViewBag.Title = "Mobile_Recharge";
    Layout = "~/Views/Home_LayoutPage1.cshtml";
}

<!--Why Choose One Start-->
<section class="why-choose-one">
    <div class="why-choose-one__bg-shape" style="background-image: url('@Url.Content("~/assets/images/images_bbps/why-choose-one-shape-bg-shape.png")');"></div>
    <div class="why-choose-one__shape-2 float-bob-x">
        <img src="@Url.Content("~/assets/images/images_bbps/why-choose-one-shape-2.png")" alt="Why Choose Image">
    </div>
    <div class="why-choose-one__big-title">
        <h3>100% SECURE RECHARGE </h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="why-choose-one__left">
                    <div class="section-title text-left sec-title-animation animation-style2">
                        <div class="section-title__tagline-box">
                            <div class="section-title__tagline-shape-box">
                                <div class="section-title__tagline-shape"></div>
                                <div class="section-title__tagline-shape-2"></div>
                            </div>
                            <span class="section-title__tagline">Become a Mobile Recharge Partner</span>
                       
                        </div>
                        <h2 class="section-title__title title-animation">
                            Looking for Mobile Recharge Services? <span>Your One-Stop Recharge Solution is Here.</span>
                        </h2>
                    </div>
                    <!-- Replaced Image Row with Recharge Form -->
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="why-choose-one__form-box wow fadeInUp" data-wow-delay="100ms">
                                <form id="rechargeForm" action="@Url.Action("ProcessRecharge", "Home")" method="post" class="recharge-form">
                                    <div class="form-group">
                                        <label for="operator">Operator</label>
                                        <select id="operator" name="operator" class="form-control" required>
                                            <option value="">Select Operator</option>
                                            <option value="Airtel">Airtel</option>
                                            <option value="Jio">Jio</option>
                                            <option value="Vi">Vi</option>
                                            <option value="BSNL">BSNL</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="circle">Circle (State)</label>
                                        <select id="circle" name="circle" class="form-control" required>
                                            <option value="">Select Circle</option>
                                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Gujarat">Gujarat</option>
                                            <option value="Karnataka">Karnataka</option>
                                            <option value="Maharashtra">Maharashtra</option>
                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                            <!-- Add more circles as needed -->
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="why-choose-one__form-box wow fadeInUp" data-wow-delay="200ms">
                                <form id="rechargeFormContinued" class="recharge-form">
                                    <div class="form-group">
                                        <label for="mobileNumber">Mobile Number</label>
                                        <input type="tel" id="mobileNumber" name="mobileNumber" class="form-control" pattern="[0-9]{10}" placeholder="Enter 10-digit mobile number" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="amount">Amount</label>
                                        <input type="number" id="amount" name="amount" class="form-control" min="10" max="5000" placeholder="Enter amount (₹10 - ₹5000)" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="rechargeType">Recharge Type</label>
                                        <select id="rechargeType" name="rechargeType" class="form-control" required>
                                            <option value="">Select Recharge Type</option>
                                            <option value="Prepaid">Prepaid</option>
                                            <option value="Postpaid">Postpaid</option>
                                            <option value="Data Plan">Data Plan</option>
                                        </select>
                                    </div>
                                    <button type="submit" form="rechargeForm" class="thm-btn recharge-form__btn">Recharge Now</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="why-choose-one__right">
                    <div class="why-choose-one__client-box">
                        <div class="why-choose-one__client-content">
                            <div class="why-choose-one__client-inner">
                                <h3 class="why-choose-one__client-title">Mobile Recharge<span></span></h3>
                                <ul class="why-choose-one__client-img-list list-unstyled">
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="~/assets/images/images_bbps/airtel.png" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="~/assets/images/images_bbps/jio.png" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="~/assets/images/images_bbps/vi.png" alt="">
                                        </div>
                                    </li>
                                    @*<li>
                                        <div class="banner-one__satisfied-partner-img">
                                            <img src="~/assets/images/images_bbps/phonepe.png" alt="">
                                        </div>
                                    </li>*@
                                </ul>
                            </div>
                            <div class="why-choose-one__ratting-and-text">
                                <div class="why-choose-one__ratting-box">
                                    <div class="why-choose-one__ratting">
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                    </div>
                                    <p class="why-choose-one__ratting-text">4.5 Rating</p>
                                </div>
                                <div class="why-choose-one__count-box-inner">
                                    <div class="why-choose-one__count-box">
                                        <p class="odometer" data-count="5000">00</p>
                                        <span>+</span>
                                    </div>
                                    <p class="why-choose-one__count-text">Recharge Partners</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="why-choose-one__right-bottom">
                        <ul class="row list-unstyled">
                            <!--Why Choose One Single Start-->
                            <li class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                                <div class="why-choose-one__single">
                                    <div class="why-choose-one__icon">
                                        <span class="icon-completed-task"></span>
                                        <div class="why-choose-one__count"></div>
                                    </div>
                                    <h3 class="why-choose-one__title">
                                        <a href="javascript:void(0)">Instant Onboarding</a>
                                    </h3>
                                    <p class="why-choose-one__text">
                                        Launch your mobile recharge services swiftly with LCRPAY’s streamlined onboarding process. Start offering recharges in no time.
                                    </p>
                                </div>
                            </li>
                            <!--Why Choose One Single End-->
                            <!--Why Choose One Single Start-->
                            <li class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                                <div class="why-choose-one__single">
                                    <div class="why-choose-one__icon">
                                        <span class="icon-target"></span>
                                        <div class="why-choose-one__count"></div>
                                    </div>
                                    <h3 class="why-choose-one__title">
                                        <a href="javascript:void(0)">Seamless Integration</a>
                                    </h3>
                                    <p class="why-choose-one__text">
                                        Integrate mobile recharge services effortlessly with LCRPAY’s developer-friendly platform, compatible with web and mobile apps.
                                    </p>
                                </div>
                            </li>
                            <!--Why Choose One Single End-->
                            <!--Why Choose One Single Start-->
                            <li class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                                <div class="why-choose-one__single">
                                    <div class="why-choose-one__icon">
                                        <span class="icon-review"></span>
                                        <div class="why-choose-one__count"></div>
                                    </div>
                                    <h3 class="why-choose-one__title">
                                        <a href="javascript:void(0)">High Transaction Success</a>
                                    </h3>
                                    <p class="why-choose-one__text">Provide a smooth recharge experience with LCRPAY’s services, optimized for high success rates and reliable transactions.</p>
                                </div>
                            </li>
                            <!--Why Choose One Single End-->
                            <!--Why Choose One Single Start-->
                            <li class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                                <div class="why-choose-one__single">
                                    <div class="why-choose-one__icon">
                                        <span class="icon-time"></span>
                                        <div class="why-choose-one__count"></div>
                                    </div>
                                    <h3 class="why-choose-one__title">
                                        <a href="javascript:void(0)">Round-the-Clock Support</a>
                                    </h3>
                                    <p class="why-choose-one__text">Access LCRPAY’s 24/7 technical and customer support via email, phone, or WhatsApp for uninterrupted recharge operations.</p>
                                </div>
                            </li>
                            <!--Why Choose One Single End-->
                        </ul>
                        <div class="why-choose-one__contact-box">
                            <div class="why-choose-one__contact-icon">
                                <span class="icon-support"></span>
                            </div>
                            <div class="why-choose-one__content">
                                <p>Need Help? Drop an Email</p>
                                <h5>care@lcrpay.com</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Why Choose One End-->
<!--Why Choose Three Start -->
<section class="why-choose-three" style="padding: 25px 0 30px;">
    <div class="why-choose-three__shape-bg-1" style="background-image: url(~/assets/images/images_bbps/why-choose-three-shape-bg-1.png);"></div>
    <div class="why-choose-three__shape-1">
        <img src="~/assets/images/images_bbps/why-choose-three-shape-1.png" alt="">
    </div>
    <div class="why-choose-three__shape-2">
        <img src="~/assets/images/images_bbps/why-choose-three-shape-2.png" alt="">
    </div>
    <div class="container">
        <div class="section-title text-center sec-title-animation animation-style1">
            <div class="section-title__tagline-box">
                <div class="section-title__tagline-shape-box">
                    <div class="section-title__tagline-shape"></div>
                    <div class="section-title__tagline-shape-2"></div>
                </div>
                <span class="section-title__tagline">Mobile Recharge Benefits</span>
            </div>
            <h2 class="section-title__title title-animation">
                <br><span>Key Advantages of Mobile Recharge Integration</span>
            </h2>
        </div>
        <div class="why-choose-three__inner">
            <ul class="row list-unstyled">
                <!--Why Choose Three Single Start-->
                <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="why-choose-three__single">
                        <div class="why-choose-three__icon">
                            <span class="icon-completed-task"></span>
                            <div class="why-choose-three__count"></div>
                        </div>
                        <h3 class="why-choose-three__title">
                            <a href="#">Instant Recharge Processing</a>
                        </h3>
                        <p class="why-choose-three__text">LCRPAY’s mobile recharge services enable real-time processing for prepaid and postpaid plans, ensuring instant activation for users.</p>
                    </div>
                </li>
                <!--Why Choose Three Single End-->
                <!--Why Choose Three Single Start-->
                <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="why-choose-three__single">
                        <div class="why-choose-three__icon">
                            <span class="icon-money-bag"></span>
                            <div class="why-choose-three__count"></div>
                        </div>
                        <h3 class="why-choose-three__title">
                            <a href="#">Multiple Operator Support</a>
                        </h3>
                        <p class="why-choose-three__text">Support a wide range of mobile operators for prepaid, postpaid, and data plans, offering flexibility and convenience to your customers.</p>
                    </div>
                </li>
                <!--Why Choose Three Single End-->
                <!--Why Choose Three Single Start-->
                <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="why-choose-three__single">
                        <div class="why-choose-three__icon">
                            <span class="icon-experience"></span>
                            <div class="why-choose-three__count"></div>
                        </div>
                        <h3 class="why-choose-three__title">
                            <a href="#">Revenue Opportunities</a>
                        </h3>
                        <p class="why-choose-three__text">Boost your business revenue by offering mobile recharge services through LCRPAY, tapping into the high-demand recharge market.</p>
                    </div>
                </li>
                <!--Why Choose Three Single End-->
                <!--Why Choose Three Single Start-->
                <li class="col-xl-3 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="why-choose-three__single">
                        <div class="why-choose-three__icon">
                            <span class="icon-time"></span>
                            <div class="why-choose-three__count"></div>
                        </div>
                        <h3 class="why-choose-three__title">
                            <a href="#">User-Friendly Interface</a>
                        </h3>
                        <p class="why-choose-three__text">Provide a simple and intuitive recharge experience with LCRPAY’s services, enhancing customer satisfaction and retention.</p>
                    </div>
                </li>
                <!--Why Choose Three Single End-->
            </ul>
        </div>
    </div>
</section>
<!--Why Choose Three End -->
<!-- Sliding Text Two Start -->
<section class="sliding-text-one">
    <div class="sliding-text-one__wrap">
        <ul class="sliding-text__list list-unstyled marquee_mode">
            <li>
                <h2 data-hover="Prepaid Recharge" class="sliding-text__title">
                    Prepaid Recharge
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Prepaid Recharge">
                </h2>
            </li>
            <li>
                <h2 data-hover="Postpaid Bill" class="sliding-text__title">
                    Postpaid Bill
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Postpaid Bill">
                </h2>
            </li>
            <li>
                <h2 data-hover="Data Plans" class="sliding-text__title">
                    Data Plans
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Data Plans">
                </h2>
            </li>
            <li>
                <h2 data-hover="International Roaming" class="sliding-text__title">
                    International Roaming
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="International Roaming">
                </h2>
            </li>
        </ul>
    </div>
</section>
<!-- Sliding Text Two End -->

<div class="container mb-4">
    <h5>Mobile Recharge Services</h5>
    <p>Empower your platform with LCRPAY’s seamless mobile recharge services, enabling instant prepaid, postpaid, and data plan recharges.</p>
    <p>LCRPAY is a leading provider of scalable mobile recharge solutions in India. Launch your recharge business and maximize revenue with our robust platform.</p>

    <h5>Benefits of LCRPAY’s Mobile Recharge Services</h5>
    <ul>
        <li>Quick and easy integration for developers.</li>
        <li>Secure and reliable platform for seamless transactions.</li>
        <li>Capitalize on the growing mobile recharge market for high returns.</li>
    </ul>

    <h5>Supported Recharge Categories</h5>
    <ul>
        <li>Prepaid Recharge</li>
        <li>Postpaid Bill</li>
        <li>Data Plans</li>
        <li>International Roaming</li>
    </ul>

    <p>LCRPAY’s mobile recharge services offer an excellent opportunity for website owners, SMEs, and organizations to generate additional revenue. Providing recharge services can drive customer engagement and attract more users to your platform.</p>
    <p>Our platform enables instant processing of mobile recharges, supporting multiple operators with denominations ranging from ₹10 to ₹5000, processed directly from your wallet.</p>
    <p>Track your transactions effortlessly with real-time access to your wallet balance, commission earned, recharge history, and transaction status through our intuitive interface.</p>
</div>

<!-- Sliding Text One Start -->
<section class="sliding-text-one">
    <div class="sliding-text-one__wrap">
        <ul class="sliding-text__list list-unstyled marquee_mode">
            <li>
                <h2 data-hover="Prepaid Recharge" class="sliding-text__title">
                    Prepaid Recharge
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Prepaid Recharge">
                </h2>
            </li>
            <li>
                <h2 data-hover="Postpaid Bill" class="sliding-text__title">
                    Postpaid Bill
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Postpaid Bill">
                </h2>
            </li>
            <li>
                <h2 data-hover="Data Plans" class="sliding-text__title">
                    Data Plans
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="Data Plans">
                </h2>
            </li>
            <li>
                <h2 data-hover="International Roaming" class="sliding-text__title">
                    International Roaming
                    <img src="~/assets/images/images_bbps/sliding-text-shape-1.png" alt="International Roaming">
                </h2>
            </li>
        </ul>
    </div>
</section>
<!-- Sliding Text One End -->

<style>
    .recharge-form {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .recharge-form .form-group {
            margin-bottom: 15px;
        }

        .recharge-form label {
            font-weight: 600;
            margin-bottom: 5px;
            display: block;
        }

        .recharge-form .form-control {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 10px;
            width: 100%;
        }

    .recharge-form__btn {
        background: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
    }

        .recharge-form__btn:hover {
            background: #0056b3;
        }
</style>
